/*  Content review and ownership fileds
 --------------------------------------*/
#acf_after_title-sortables.meta-box-sortables .field {
  float: left;
  margin-right: 10px;
}

#acf_after_title-sortables.meta-box-sortables:after {
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}

#acf_after_title-sortables.meta-box-sortables .field input {
  height: 32px;
}

#acf_after_title-sortables.meta-box-sortables #acf-reviewed_on.field,
#acf_after_title-sortables.meta-box-sortables #acf-reviewed_by.field {
  width: 12%;
  min-width: 100px;
}

#acf_after_title-sortables.meta-box-sortables #acf-contact.field,
#acf_after_title-sortables.meta-box-sortables #acf-service_offering.field {
  width: 30%;
  min-width: 215px
}

.wp-admin #edit-slug-box {
  padding: 0;
}

.wp-admin .acf_postbox .inside .field {
  padding: 0 15px 0 0;
}

/*  Pages table column widths for added columns
 --------------------------------------*/
 .manage-column.column-service_offering {
  width: 20%;
 }