/*  Editor Formatting Options
 ------------------------------------------------------------------------*/

 /*  Callout box
 --------------------------------------*/
#tinymce div.emphasize {
  border: solid #ccc 1px;
  border-left: solid #4b2e83 7px;
  margin: 20px 35px 20px 0;
  padding: 15px;
  position: relative;
}

#tinymce div.emphasize:after {
  color: #4b2e83;
  content: "(i) icon ";
  display: inline-block;
  opacity: 0.15;
  position: absolute;
  top: 3px;
  right: 3px;
  font: normal normal 14px/1 FontAwesome;
  font-size: 22px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}


/*  Table of contents
 --------------------------------------*/
#tinymce ul.ptoc {
    list-style-type: disc;
    margin:1em 0 1.5em 2em;
    padding-left: 4em;
}

#tinymce ul.ptoc.injected:before {
    content: 'On This Page';
    display: block;
    font-style:italic;
    margin-left:-1em;
}


/*  Procedures
 --------------------------------------*/
#tinymce ol.procedure {
    border:solid #ccc 1px;
    margin-left:0;
    margin-top: 1.5em;
    padding:1em 1em 1em 3em;
}

#tinymce ol.procedure.injected:before {
    content: 'Steps Actions';
    border-bottom:solid #000 1px;
    display: block;
    font-weight: 700;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-left: -1.5em;
    word-spacing: 25px;
}

#tinymce ol.procedure img {
  margin: 1em 0;
}

#tinymce ol.procedure li {
    padding-left:2em;
    padding-bottom:1em;
    margin-left:1em;
}

#tinymce ol.procedure li ul,
#tinymce ol.procedure li ol,
#tinymce ol.procedure li li {
  margin: .3em; padding: 0 0 0 1em;
}

.prc {
    margin-left:1.5em;
}

div.uw-body-copy ol.procedure li ul li, article div.entry-content ol.procedure li ol li {
    margin: 0 0 0 2em;
}


/*  Action Block
 --------------------------------------*/
#tinymce div.fbox {
    border: dashed 1px #666;
    clear: right;
    min-height: 4em;
    position: relative ;
    padding: 1em;
}

#tinymce  div.fbox.injected img:first-child {
    border: solid gray 1px;
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
    -khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
    float: left;
    height: 5.5em;
    margin: 0 30px 0 0;
    padding: 0.6em;
    width: 5.5em;
}

#tinymce div.fbox.injected a img:first-child {
    text-decoration: none;
}

#tinymce div.fbox.lastfbox {
    margin-bottom: 3em;
}

#tinymce div.fbox.injected p {
    min-height: 6em;
}
